body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}


.search-input {
    width: 96% !important;
    margin-left: 2% !important;
    margin-top: 8px !important;
}

.divider-style {
    margin-bottom: 5px;
    width: auto;
}

.nav {
    padding-left: 2px !important;
}

.img-course {
    object-fit: cover !important;
    height: 135px !important;

}

.search-row {
    margin-bottom: 0% !important;
}

.mouse-pointer:hover {
    cursor: pointer;
}

.card-style {
    padding: 7px !important;
}

.toast-warning {
    background-color: red !important;
    font-weight: 500 !important;
}

.answer-content p {
    font-size: large !important;
}

.hidden {
    display: none !important;
}

.footer-style{
    padding: 0% !important;
    background-color: white !important;
}
.footer-style p{
    padding: 0% !important;
    margin: 2px;
    color: black;
}
.cola-img{
    object-fit: cover;
    width: 300px;
}

.card-course-search{
    height: 216px !important;
}